@media screen and 
(min-width:1024px) {

	body, html {
		font-size: 10px;
	}

	//Estilos partículares

	section.intro{
		background-image: url("../img/banner_intro.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 0 11.9rem;
		padding-top: 11.9rem;
		padding-bottom: 16.9rem;
		
	}

	section.about{
		padding-bottom: 8.3em;
		.box{
			background-color: rgba(174, 174, 174, 0.2);
			padding: 8rem 0 7.9rem 0rem;
			
	
			.jael-anim{
				position: absolute;
				bottom: -5px;
				left: 0;
				margin-bottom: 0rem;
	
				max-width: 41.666667%;
			}
	
			.content{
				flex: 0 0 39.99%;
				max-width: 39.99%;
				margin-left: 47.666667%;
				h1{
					font-size: 2.8rem;
				}
				h2{
					font-size: 2.4rem;
				}
				.block{
					position: relative;
					margin-top: 9.9rem;
	
					.circulo{
						width: 50px;
						height: 50px;
						position: absolute;
						left: -16px;
						top: 10px;
					}
				}
				.block:first-child{
					margin-top: 5.2rem;
				}
			}
			
		}
	}
}

//and (max-device-width: 1600px)
@media screen and 
(min-width:1200px) {	

}