@media screen and (min-width:851px) and (max-width: 1200px) {

	.page-slide{

		&.first-slide {
			background-round {

				.main-text {
					margin-top: 10rem;
				}
			}
		}
		&.second-slide {
			margin-top: -5vw;
		}

		&.third-slide {
			margin-top: -15vw;
		}

		&.fourth-slide {
			margin-top: -25vw;
		}
	}

}

//and (max-device-width: 1600px)
@media screen and 
(min-width:1200px) {	

}