@media screen and (min-width:851px) and (max-width: 1200px) {

	.page-slide{

		&.first-slide {
			.background-round {

				.main-text {
					margin-top: 30rem;
				}
			}
		}
		&.second-slide {
			margin-top: -20vw;
		}

		&.third-slide {
			margin-top: -15vw;
		}

		&.fourth-slide {
			margin-top: -25vw;
		}
	}

}

@media screen and (min-width:1201px) and (max-width: 1365px) {
	.page-slide {
		&.first-slide {
			.background-round {

				.main-text {
					margin-top: 30rem;
				}
			}
		}

		&.third-slide {
			margin-top: -30vw;
		}
	}
}

//and (max-device-width: 1600px)
@media screen and 
(max-width:1200px) {	

}