.text-black {
	color: #000!important;
}

.text-white   {
	color: #fff!important;
}

//Colors

$customize_brown: #894A40;
$black: #000;

//Tamaños de tipografías

.title{

}

.paragraph{

}

.button{

}

.quote {
	font: 3rem koch-antiqua-roman;
	color: $customize_brown;
}

.rich-text {
	font: 1.5rem rubik-regular;
	color: $black;

	transition-duration: .5s;

	* {
		color: inherit;
	}

	a:hover, a:focus {
		color: $customize_brown;
	}
}


@font-face{
	font-family: koch-antiqua-roman; 
	src: url("../fonts/own-fonts/koch-antiqua-roman.ttf");
}

.koch-antiqua-roman {
	font-family: koch-antiqua-roman;
}

@font-face{
	font-family: rubik-regular; 
	src: url("../fonts/own-fonts/Rubik-VariableFont_wght.ttf");
}

.rubik-regular {
	font-family: rubik-regular;
}

@font-face{
	font-family: rubik-light; 
	src: url("../fonts/own-fonts/Rubik-Light.ttf");
}

.rubik-light {
	font-family: rubik-light;
}