.text-black {
	color: #000!important;
}

.text-white   {
	color: #fff!important;
}

//Tamaños de tipografías

.title{

}

.paragraph{

}

.button{

}

.quote {
	font-size: 3rem;
}



@font-face{
	font-family: koch-antiqua-roman; 
	src: url("../fonts/own-fonts/koch-antiqua-roman.ttf");
}

.koch-antiqua-roman {
	font-family: koch-antiqua-roman;
}

@font-face{
	font-family: rubik-regular; 
	src: url("../fonts/own-fonts/Rubik-VariableFont_wght.ttf");
}

.rubik-regular {
	font-family: rubik-regular;
}